/* index.css */

/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Smooth scroll for anchor links */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fefefe;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
